@media screen and (max-width: 1320px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 1320px;
    }

    .container {
        max-width: 1291px;
    }

    .franchaise-card {
        margin-right: 77px;
    }
}

@media screen and (max-width: 1200px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 1200px;
    }

    .container {
        max-width: 1200px;
    }

    .franchaise-card {
        margin-right: 31px;
    }

    .section-2__ice-cream-catalog {
        padding: 0 0px 66px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 1024px;
    }

    .container {
        max-width: 1005px;
    }

    .big-ice-cream {
        right: 95px;
    }

    .ice-cream__sort-item {
        width: 300px;
    }

    .section-3__colomns {
        width: 1000px;
    }

    .section-3__text-block, .section-3__text-cows {
        width: 453px;
    }

    .about-metrics {
        width: 330px;
    }

    .franchaise-card {
        width: 318px;
        margin-right: 18px;
    }
}


@media screen and (max-width: 992px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 769px;
    }

    .container {
        max-width: 750px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .header__block {
        padding: 24px 32px;
    }
    
    .header__burger {
        display: block;
        left: 25%;
    }

    .nav-menu {
        display: none;
    }

    .nav-item {
        margin-bottom: 40px;
    }
    
    .nav-link {
        font-size: 48px;
    }

    h1 {
        font-size: 18px;
    }

    .section-1__button {
        width: 62px;
        height: 24px;
        font-size: 8px;
        line-height: normal;
        padding-top: 5px;
    }

    .section-1__link {
        font-size: 8px;
        line-height: normal;
        margin-left: 26px;
        margin-top: 4px;
    }

    .ice-cream-on-plate {
        width: 152px;
        height: 152px;
        margin-bottom: 41px;
    }

    .section-1__text {
        font-size: 12px;
    }

    .big-ice-cream {
        width: 257px;
        height: 324.917px;
        right: 11px;
    }

    .numbers {
        font-size: 28px;
    }

    .caption {
        font-size: 8px;
    }

    .section-2__ice-cream-catalog {
        padding-left: 0;
        padding-right: 0;
    }

    .sub-title-parameters {
        font-size: 22px;
    }

    .section-2__title-block {
        margin-bottom: 200px;
    }

    .sub-title-h2 {
        font-size: 34px;
    }

    .ice-cream__sort-item {
        width: 224px;
        height: 450px;
    }

    .ice-cream__sort img {
        width: 199.336px;
        height: 196.845px;
        bottom: 85%;
    }

    .background-big-circle {
        width: 199.336px;
        height: 196.845px;
        bottom: 81%;
    }
    .ice-cream__sort {
        margin-right: 12px;
        height: 428px;
    }
    
    .about-sorts {
        width: 172px;
        font-size: 14px;
    }

    h3 {
        font-size: 22px;
        margin-top: 130px;
        margin-bottom: 40px;
    }

    .coffee p {
        margin-bottom: 36px;
    }
    
    .cow {
        width: 334.654px;
        height: 330px;
    }

    .backside-of-image-cow {
        width: 334.654px;
        height: 330px;
    }

    .double-image-of-cow {
        width: 335px;
        height: 383px;
    }

    .section-3__text-block {
        width: 334px;
    }

    .section-3__text-cows {
        font-size: 12px;
        width: 334px;
    }

    .section-3__colomns {
        width: 704px;
    }

    .section-3__icon {
        margin-bottom: 32px;
    }

    .metrics {
        font-size: 48px;
    }

    .about-metrics {
        width: 152px;
        font-size: 14px;
    }

    .long-picture-ice-cream {
        width: 704px;
        height: 327px;
    }

    .slider {
        width: 718px;
    }

    .comments-item {
        width: 705px;
    }

    .comments-text {
        font-size: 14px;
    }

    .franchaise-card {
        width: 224px;
        margin-right: 16px;
    }

    .cafe-name, .cafe-city, .cafe-address, .cafe-working-days, .cafe-working-hours, .cafe-phone, .cafe-email {
        font-size: 14px;
    }

    .headlines {
        width: 352px;
    }

    .little-headline {
        font-size: 26px;
    }

    .big-headline {
        font-size: 48px;
    }

    .text-contact, .phone-contact {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 768px;
    }

    .container {
        max-width: 768px;
    }

    .section-5__block {
        min-height: 667px;
    }

    .footer {
        min-height: 610px;
    }

}


@media screen and (max-width: 640px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 640px;
    }

    .container {
        max-width: 640px;
    }

    .header__burger {
        left: 20%;
    }

    .nav-link {
        font-size: 35px;
    }

    .ice-cream__sort {
        width: 184px;
    }

    .big-ice-cream {
        width: 239px;
        height: 263.917px;
        right: 71px;
    }

    .section-1__text {
        width: 162px;
    }

    .long-picture-ice-cream {
        width: 624px;
        height: 290px;
    }

    .comments-block {
        padding-top: 290px;
    }

    .comments-item {
        width: 598px;
    }

    .slider {
        width: 600px;
    }

    .comments {
        margin-right: 7px;
    }

    .franchaise-card {
        width: 183px;
        padding: 21px;
        margin-right: 14px;
    }

    .section-3__colomns {
        width: 565px;
    }

    .section-3__text-block {
        width: 202px;
    }

    .cow {
        width: 313.654px;
        height: 312px;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }

    .backside-of-image-cow {
        width: 313.654px;
        height: 312px;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }

    .section-3__text-cows {
        font-size: 12px;
        width: 228px;
    }

    .text-contact, .phone-contact {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 600px;
    }

    .container {
        max-width: 600px;
    } 

    .burger-list {
        padding-left: 0;
    }

    .section-1__text-and-arrow {
        display: none;
    }

    .section-2__ice-cream-catalog {
        flex-direction: column;
        padding-bottom: 0;
        align-items: center;
    }

    .ice-cream__sort {
        width: 350px;
        height: 420px;
        margin-bottom: 208px;
    }

    .ice-cream__sort-item {
        width: 350px;
    }

    .section-3__colomns {
        width: 501px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-3__text-block {
        width: 345px;
    }

    .section-3__text-cows {
        font-size: 14px;
        width: 366px;
    }

    .long-picture-ice-cream {
        width: 536px;
        height: 254px;
    }

    .slider {
        width: 500px;
    }

    .comments-item {
        width: 497px;
    }

    .comments-text {
        font-size: 12px;
    }

    .franchaise {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -119px;
        right: 50%;
        left: 50%;
        transform: translateY(-50%, -50%);
    }

    .franchaise-card {
        width: 280px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .franchaise-buttons {
        padding-top: 1264px;
        padding-bottom: 71px;
    }

    .headlines {
        width: 269px;
    }

    .footer {
        min-height: 313px;
    }

}

@media screen and (max-width: 500px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 500px;
    }
    
    .container {
        max-width: 500px;
    } 
    /* #buttonBuyNow {
        display: none;
    } */

    .burger-menu-mobile {
        display: none;
        flex-direction: column;
        align-items: center;

    }

    /* .burger-menu-mobile #buttonBuyNow {
        display: block;
        margin-left: 50%;
        margin-right: 50%;
    } */

    .header__burger {
        left: 0;
    }

    h1 {
        font-size: 26px;
        width: 250px;
    }

    .ice-cream-on-plate {
        display: none;
    }

    .section-1__text {
        display: none;
    }

    .arrow-white {
        display: none;
    }

    .big-ice-cream {
        width: 245.001px;
        height: 279.454px;
        right: 31px;
    }

    .big-numbers-block {
        display: none;
    }

    .section-1__button {
        margin-bottom: 239px;
    }

    .section-1__module {
        background-image: url(images/background-mobile.png);
    }

    .section-3__colomns {
        flex-direction: column;
        align-items: center;
    }

    .section-3__text-cows {
        width: 300px;
    }

    .section-3__colomns {
        width: 436px;
    }

    .section-3__text-block {
        width: 314px;
    }

    .about-metrics {
        font-size: 10px;
    }

    .long-picture-ice-cream {
        width: 484px;
        height: 216px;
    }

    .comments-item {
        width: 479px;
    }

    .slider {
        width: 481px;
    }

    .pagination-dots {
        padding-bottom: 390px;
    }

    .comments-item {
        margin: 13px 0;
    }

    .comments-block {
        padding-top: 219px;
    }

    }

    @media screen and (max-width: 420px) {
        .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
            max-width: 420px;
        }
    
        .container {
            max-width: 420px;
            padding-left: 16px;
            padding-right: 16px;
            margin: 0;
        } 

        .section-1__block-1 {
            width: 343px;
        }

        .section-2__ice-cream-catalog {
            flex-direction: column;
            padding-bottom: 0;
        }
    
        .ice-cream__sort {
            width: 350px;
            height: 420px;
            margin-bottom: 208px;
        }
    
        .ice-cream__sort-item {
            width: 350px;
        }

        .section-3__three-colomns {
            flex-direction: column;
            padding-bottom: 180px;
        }

        .about-metrics {
            width: 230px;
        }

        .long-picture-ice-cream {
            width: 340px;
            height: 163px;
            top: 0;
        }

        .comments {
            margin-right: 4px
        }
    
        .comments-item {
            width: 285px;
        }
    
        .slider {
            width: 284px;
            height: 407px;
        }
    
        .comments-text {
            font-size: 12px;
            padding: 30px 25px;
        }
    
        .name-of-users {
            font-size: 20px;
        }

        .franchaise-buttons {
            padding-top: 1078px;
            flex-direction: column;
            align-items: center;
            width: 343px;
        }
    
        #buttonLocation {
            margin-bottom: 16px;
        }

        .section-5__contacts {
            flex-direction: column;
        }
    
        .little-headline {
            font-size: 18px;
        }
    
        .big-headline {
            font-size: 34px;
        }
    
        .headlines {
            width: 295px;
            margin-bottom: 42px;
        }
    
        .contacts {
            align-self: flex-end;
        }

        .section-3__colomns {
            margin: 0 auto;
            width: 330px;
        }
    
    }

@media screen and (max-width: 320px) {
    .header, .section-1, .section-2, .section-3, .section-4, .section-5, .footer {
        max-width: 320px;
    } 

    .container {
        max-width: 320px;
    } 
    
    .section-1__block-1 {
        width: 288px;
    }

    .section-1__link {
        display: none;
    }

    .big-ice-cream {
        width: 245.001px;
        height: 279.454px;
        right: 13px;
    }

    .long-picture-ice-cream {
        width: 280px;
        height: 130.031px;
        top: 0;
    }

    .pagination-dots {
        padding-bottom: 380px;
    }

    .franchaise-card {
        width: 280px;
        margin-bottom: 20px;
    }

    .franchaise {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -287px;
    }

    .ice-cream__sort {
        margin-right: 0;
        width: 320px;
    }

    .ice-cream__sort-item {
        width: 224px;
    }

    .cow {
        width: 278.186px;
        height: 278.253px;
    }

    .backside-of-image-cow {
        width: 278.186px;
        height: 278.253px;
        bottom: 29px;
    }

    .section-3__colomns {
        width: 300px;
    }

    .section-3__title-block {
        padding-bottom: 0;
    }

    .section-3__text-cows {
        width: 260px;
    }

    .franchaise-card, .franchaise-card:last-child {
        margin-right: 0;
    }

    .franchaise-buttons {
        width: 281px;
    }

    .double-image-of-cow {
        width: 307px;
    }

    .sub-title-h2 {
        font-size: 30px;
    }

    .section-3__text-block {
        width: 254px;
    }

    .section-3__button {
        margin-bottom: 30px;
    }
    
    .double-image-of-cow {
        width: 291px;
        height: 335px;
    }

    .statistics {
        margin-bottom: 20px;
    }

    .section-3__three-colomns {
        padding-bottom: 140px;
    }

    /* _______MODAL BUY NOW________ */

    .modal_content {
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 554px;
        padding: 32px 54px;
    }

    .modal-buy_ice-cream-cards {
       display: none;
    }

    .modal_input-name, .modal_input-phone, .modal_input-comments, .modal_input-email {
        width: 256px;
        height: 42px;
    }
    
    /* _______MODAL INGREDIENTS__________ */

    .ingredients_content-box {
        width: 280px;
        height: 531px;
    }

    .modal-caption {
        margin-bottom: 10px;
    }

    .ingredients {
        margin-top: 24px;
    }

    .modal-ingredients_image {
        display: none;
    }

    .component-item {
        margin-right: 9px;
    }

    .ingredients {
        display: none;
    }

    .modal_form {
        margin-top: 40px;
    }

    /* _______MODAL HOW ITS MADE___________ */

    .modal-video {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .modal-video iframe {
        width: 234px;
        height: 257px;
    }

    .modal_content {
        padding: 32px 21px;
    }

   .modal_how-made-text {
        width: 249px;
        font-size: 14px;
    }

    /* ____MODAL LOCATION_____ */

    .modal-map {
        width: 234px;
        height: 260px; 
    }

    /* ___________MODAL FRANCHAISE________ */

    .modal-franchaise-text {
        width: 250px;
        font-size: 10px;
    }

    .modal_form {
        margin-top: 13px;
    }

    .modal_input-name, .modal_input-phone, .modal_input-comments, .modal_input-email {
        margin-bottom: 10px;
    }

    .modal-caption {
        line-height: 24px;
    }

    .modal-close {
        top: 12px;
        right: 12px;
    }

    .modal_content {
        padding: 16px 21px;
    }

    .modal_button-submit {
        margin-top: 1px;
    }

}




